.v-application--wrap {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/013/464/345/large/aodhan-mc-nicholl-rick-morty-style-background-001-copy.jpg?1539713189');
    background-attachment: fixed;
    background-size: cover;
}